.App {
    font-family: sans-serif;
    text-align: center;
  }

  .Select {
    width: 400px;
      /* Rounded Rectangle */
    position: absolute;
    height: 40px;
    left: 0px;
    right: 0px;
    top: calc(50% - 40px / 2);
  
    /* BW/white */
  
    background: #ffffff;
    /* Gray-warm/gray-warm-50 */
  
    border: 1px solid #73726f;
    box-sizing: border-box;
    border-radius: 8px;
    
  }
  .Select:hover {
    border: 1px solid #31302d;
  }
  .Select-hover {
    border: 1px solid #31302d;

  }
  .Select-arrow {
  border-color: #999 transparent 
  }